<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
    <bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
        <property name="host" value="10.50.0.36" />
        <property name="port" value="25"/>
        <property name="protocol" value="smtp" />
        <property name="username" value="sales" />
        <property name="password" value="Fsl@2018" />
        <property name="javaMailProperties">
            <props>
                <prop key="mail.smtp.auth">true</prop>
            </props>
        </property>
    </bean>

    <bean id="simpleMailMessage" class="org.springframework.mail.SimpleMailMessage">
        <property name="from" value="sales@qianhai.com.cn"/>
        <property name="to" value="huangdb002@qianhai.com.cn"/>
    </bean>

    <bean id="simpleMail" class="com.cn.mail.EmailSend">
        <property name="mailSender" ref="mailSender" />
        <property name="simpleMailMessage" ref="simpleMailMessage" />
    </bean>
</beans>